@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes floatCircle {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(20px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-20px, -20px);
  }
}

.skill {
  animation-name: floatCircle;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

@layer base {
  body {
    font-family: var(--font-sans), sans-serif;
  }

  code,
  pre {
    font-family: var(--font-mono), monospace;
  }
}
